
body, html { height: 100%; width: 100%; }
body { background-color: #efefef; }

#sidebar { 
	width: 20%;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 0px;
	display: none;
	overflow-y: auto;
}

#address_panel {
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	text-align: left;
	clear: right;
}

#address_panel li { font-size: 12px; line-height: 16px; padding-top: .5em; padding-bottom: .5em;}
#map_canvas { border-left-style: solid;  border-color: black; border-width: thin; height: 100%; }

#map_canvas img {
	max-width: none;
}

#padded_button {
	margin-top: 10px;
	background-position: center bottom;
}

#results_heading {
	margin-top: 0px;
	text-align: center;
}

#address_panel .icon-remove-sign {
	margin-top: 1em;
}

.selected-result {
	font-weight: bold;
}

.center {
	text-align: center;
}
