div.thumbnail {  height: 200px; width: 200px; overflow: hidden}
div.thumbnail img { overflow: hidden; height: 15em; }
.gallery-container { position: relative; float: left; margin-left: 5px; padding-top: 15px; }
.checkbox { position: absolute; bottom: -5px; right: 10px; }
.edit { position: absolute; bottom: -1px; left: 10px; }
li { list-style-type: none; }
.container { width: 95%; }
.header-btn { float: right; }
