@import views.nav._

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Edit Image</title>
		<script type="text/javascript" src="/assets/javascripts/jquery-1.8.1.js"></script>
		<script type="text/javascript" src="/assets/javascripts/edit.js"></script>
		<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/assets/stylesheets/nav.css" />
</head>
<body>
@views.html.navBar(Some(NavBar.About), None)
<div class="container">
	<div class="page-header">
		<h1>Damage Tracker</h1>
		<div class="well container">
			<p>
				Damage Tracker is a software system for capturing and managing tornado
				damage information. A mobile application for Android allows
				users to take geotagged photos of damage scene. Within the app these
				images can be annotated with descriptions and EF ratings. Images are
				then uploaded to this web application, where they can be stored and
				viewed by an online community of researchers and the public. From this
				site images can be edited, categorized into collections, and visualized
				on an interactive web map. The goal of this system is to simplify data
				sharing after natural disasters, which reduces duplicate collection
				effort, encourages more collaboration, and has the potential to improve
				the quality and depth of further research.
			</p>
			<br/>
			<h3>Key People</h3>
			<p>
				<h5>The University of Alabama</h5>
				<ul class="nav nav-list">
					<li class="nav-header">Faculty</li>
					<li>Grant recipient - Dr. Jeff Gray, Dept. of Computer Science</li>
					<li>SME - Dr. Andrew Graettinger, Dept. of Civil Engineering</li>
					<li class="nav-header">Student Developers</li>
					<li>Chris Hodapp</li>
					<li>Matt Robbins</li>
				</ul>
			</p>
			<br/>
			<h3>Research Funding</h3>
			<p>
				This project was supported in part by a grant from the National Science Foundation, #1047780
			</p>
			<img src="/assets/images/nsf.gif">
		</div>
	</div>
</div>
</body>
</html>
