@()

@import controllers.Api.collectionForm
@import helper.twitterBootstrap._

@helper.form(action = routes.Api.createCollection) {

	@helper.inputText(collectionForm("latitude"), '_label -> "Latitude", '_showConstraints -> false)
	@helper.inputText(collectionForm("longitude"), '_label -> "Longitude", '_showConstraints -> false)
	@helper.inputText(collectionForm("address"), '_label -> "Address")
	@helper.inputText(collectionForm("location_description"), '_label -> "Location description")
	@helper.inputText(collectionForm("notes"), '_label -> "Notes")

	<input type="submit" value="Save" class="btn-primary" />
}
