@()

@import controllers.Api.reportForm

@helper.form(action = routes.Api.createReport) {

	@helper.inputText(reportForm("id"), '_label -> "ID", '_showConstraints -> false)
	@helper.inputText(reportForm("latitude"), '_label -> "Latitude")
	@helper.inputText(reportForm("longitude"), '_label -> "Longitude")
	@helper.inputText(reportForm("address"), '_label -> "Address")
	@helper.inputText(reportForm("location_description"), '_label -> "Location description")
	@helper.inputText(reportForm("notes"), '_label -> "Notes")

	<input type="submit" value="Save" />
}
