@(
	imageId: Long,
	form: Form[controllers.Images.EditImageFormData] = controllers.Images.editImageForm
)(implicit flash: Flash, maybeUser: Option[models.User])

@import views.nav._
@import models._
@import java.util.Date
@import java.text.DateFormat
@import java.util.Locale

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Edit Image</title>
		<script type="text/javascript" src="/assets/javascripts/jquery-1.8.1.js"></script>
		<script type="text/javascript" src="/assets/javascripts/edit.js"></script>
		<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/assets/stylesheets/nav.css" />
		<link rel="stylesheet" href="/assets/stylesheets/image.css" />
</head>
<body>
@views.html.navBar(None, None)
	<div id="content" class="container">
		<div class="page-header">
			<h1>Image Information</h1>
			@flash.get("message").map { message =>
				<h5 class="red">
					@message
				</h5>
			}
		</div>
		<div class="well container center">
			<div class="row">
				<img  class="big-image span9" src="@StorageBackend().lookup("images", Image(imageId).path)" >
				<form class="form-horizontal span6" action="/images/edit/@imageId" method="post" id="image_form">
					<div class="control-group">
						<label class="control-label" for="capture_time">Capture Time</label>
						<div class="controls">
							<input readonly type="text" id="capture_time" name="capture_time" value="@form("capture_time").value">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="upload_time">Upload Time</label>
						<div class="controls">
							<input readonly type="text" id="upload_time" name="upload_time" value="@form("upload_time").value">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="latitude">Latitude</label>
						<div class="controls">
							<input type="text" id="latitude" name="latitude" value="@form("latitude").value">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="longitude">Longitude</label>
						<div class="controls">
							<input type="text" id="longitude" name="longitude" value="@form("longitude").value">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="uploader">Uploader</label>
						<div class="controls">
							<input readonly type="text" id="uploader" name="uploader" value="@form("uploader").value">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="notes">Notes</label>
						<div class="controls">
							<textarea rows="10" id="notes" name="notes">@form("notes").value</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="indicator">Damage Indicator</label>
						<div class="controls">
							<select name="indicator" id="indicator">
								<option value="0">None</option>
								@for(i<-DamageIndicator.all) {
									@if(Some(i.id.toString) == form("indicator").value) {
										<option value="@i.id" selected="selected">@i.id - @i.description</option>
									} else {
										<option value="@i.id">@i.id - @i.description</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="degree">Degree of Damage</label>
						<div class="controls">
							<select selectedIndex="@form("degree").value" name="degree" id="degree">
								<option value="0">None</option>
								@form("indicator").value.filter(_ != "0").map { indicator =>
									@for(d<-DamageIndicator.withId(indicator.toInt).degrees) {
										@if(Some(d.id.toString) == form("degree").value) {
											<option value="@d.id" selected="selected">@d.id - @d.description</option>
										} else {
											<option value="@d.id">@d.id - @d.description</option>
										}
									}
								}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="onmap">On Map</label>
						<div class="controls">
							<input readonly type="text" id="onmap" name="onmap" value="@form("onmap").value">
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input class="btn btn-success" type="submit" value="Save">
							<input class="btn btn-danger" type="button" value="Delete">
						</div>
					</div>
				</form>
		</div>
	</div>
</body>
</html>
