@(image: Image)(implicit user: models.User)

@import views.nav._
@import models._
@import java.util.Date
@import java.text.DateFormat
@import java.util.Locale

<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Edit Image</title>
		<script type="text/javascript" src="/assets/javascripts/jquery-1.8.1.js"></script>
		<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/assets/stylesheets/nav.css" />
		<link rel="stylesheet" href="/assets/stylesheets/image.css" />
</head>
<body>
@views.html.navBar(None, None)
	<div id="content" class="container">
		<div class="page-header">
			<h1>Image Information</h1>
		</div>
		<div class="well container">
				<img class="image" src="@StorageBackend().lookup("images", image.path)">
				<form class="form-horizontal span6" action="/api/images/edit" method="post" id="image_form">
					<div class="control-group">
						<label class="control-label" for="id">ID</label>
						<div class="controls">
							<input disabled="true" type="text" id="id" name="id" value="@image.id">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="path">Path</label>
						<div class="controls">
							<input disabled="true" type="text" id="path" name="path" value="@image.path">
						</div>
					</div>
					@defining(DateFormat.getDateTimeInstance(DateFormat.SHORT, DateFormat.SHORT, Locale.getDefault())) { df =>
					<div class="control-group">
						<label class="control-label" for="time">Time</label>
						<div class="controls">
							<input disabled="true" type="text" id="time" name="time" value="@image.time.map(t => df.format(new Date(t)))">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="uploaded">Uploaded</label>
						<div class="controls">
							<input disabled="true" type="text" id="lat" name="uploaded" value="@df.format(new Date(image.timeUploaded*1000L))">
						</div>
					</div>
					}
					<div class="control-group">
						<label class="control-label" for="lat">Latitude</label>
						<div class="controls">
							<input type="text" id="lat" name="lat" value="@image.lat">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="long">Longitude</label>
						<div class="controls">
							<input type="text" id="long" name="long" value="@image.long">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="user">User</label>
						<div class="controls">
							<input disabled="true" type="text" id="user" name="user" value="@image.user">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="notes">Notes</label>
						<div class="controls">
							<textarea rows="10" id="notes" name="notes" value="@image.notes"></textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="indicator">Damage Indicator</label>
						<div class="controls">
							<input type="text" id="indicator" name="indicator" value="@image.indicator">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="degree">Degree of Damage</label>
						<div class="controls">
							<input type="text" id="degree" name="degree" value="@image.degree">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="collectionId">Collection ID</label>
						<div class="controls">
							<input disabled="true" type="text" id="collectionId" name="collectionId" value="@image.collectionId">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="pending">Is Pending</label>
						<div class="controls">
							<input disabled="true" type="text" id="pending" name="pending" value="@image.pending">
						</div>
					</div>
					<button class="btn btn-success" type="submit">Save</button>
				</form>
		</div>
	</div>
</body>
</html>
