@()

<!DOCTYPE html>
<html>
<head>   
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
	<title>View a location on a map!</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCRAwWsAJ4AolCZHLze4SmLubVO1fffTU8&sensor=false"></script>
	<script type="text/javascript" src="assets/javascripts/map.js"></script>
</head>
	<body onload="initialize()">
		<div id="location_form">
		<form onsubmit="moveMapToAddress(document.getElementById('address').value, 12); return false;">
			<input type="text" id="address" />
			<input type="submit" value="Go" />
		</form>
		</div>
		<div id="map_canvas" />
	</body>
</html>

