@()

@import views.nav._

<!DOCTYPE html>
<html>
	<head>   
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="assets/stylesheets/map.css" />
		<title>Damage Map</title>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCRAwWsAJ4AolCZHLze4SmLubVO1fffTU8&sensor=false"></script>
		<script type="text/javascript" src="assets/javascripts/jquery-1.8.1.js"></script>
		<script type="text/javascript" src="assets/javascripts/searchresults.js"></script>
	</head>
	<body>
		@views.html.navBar(Some(NavBar.Map), Some("Search Location"))
		<div id="content">
			<div id="sidebar" class="pull-left">
				<a id="hide_sidebar_button" href="javascript:void(0)"><span class="icon-remove-sign pull-right"></span></a>
					<div id="address_panel" class="span2">
						<h4 id="results_heading">Results</h4>
						<div id="geocode_result"></div>
					</div>
			</div>
			<div id="map_canvas"></div>
		</div>
	</body>
</html>

