@()

<!DOCTYPE html>
<html>
<head>   
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="assets/stylesheets/map.css" />
	<title>View a location on a map!</title>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCRAwWsAJ4AolCZHLze4SmLubVO1fffTU8&sensor=false"></script>
	<script type="text/javascript" src="assets/javascripts/map.js"></script>
</head>
	<body onload="initialize('map_canvas')">
		<div id="address_panel">
			<h3>Search a location</h3>
			<form id="address_form" onsubmit="return geocodeAddressForm('address', 'geocode_result');">
				<input type="text" id="address" />
				<input type="submit" value="Go" />
			</form>
			<div id="geocode_result"></div>
		</div>
		<div id="map_canvas"></div>
	</body>
</html>

