@(
	selected: Option[views.nav.NavItem] = None,
	searchText: Option[String] = None
)(
	implicit optUser: views.nav.NavOptUser = views.nav.NavOptUser.NoUser
)

@import views.nav._

@item(item: NavItem) = {
	@if(selected.map(_.name == item.name).getOrElse(false)) {
		<li class="active">
			<a href="@item.url" class="active">@item.name</a>
		</li>
	} else {
		<li>
			<a href="@item.url">@item.name</a>
		</li>
	}
}

<div id="navbar" class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		@if(searchText.isDefined) {
			<form id="search_form" class="navbar-search" >
					<input type="text" id="search_box" class="search-query span2" placeholder="@searchText.get" />
			</form>
		} else {
			<form id="search_form" class="navbar-search invisible" >
					<input type="text" id="search_box" class="search-query span2" placeholder="" />
			</form>
		}

		<ul class="nav">
			@if(searchText.isDefined) {
				<li class="divider-vertical"></li>
			} else {
				<li class="divider-vertical invisible"></li>
			}
			@NavBar.headerItems.map(item)
		</ul>
		@optUser.maybeUser.map { user => 
			<form id="logoutform" action="/logout" method="post">
				<ul class="nav pull-right">
					@item(NavBar.About)
					<li>
							<a href="javascript:document.getElementById('logoutform').submit()">@user.email</a>
					</li>
				</ul>
			</form>
		}.getOrElse {
			<ul class="nav pull-right">
			@item(NavBar.About)
			@item(NavBar.Login)
			</ul>
		}
	</div>
</div>
