@()(implicit user: models.User)

@import helper.twitterBootstrap._
@import models._
@import views.nav._
@import models._


<!DOCTYPE HTML>
<html lang="en">
<head>
		<script type="text/javascript" src="/assets/javascripts/jquery-1.8.1.js"></script>
		<script type="text/javascript" src="/assets/javascripts/photo-queue.js"></script>
		<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/assets/stylesheets/nav.css" />
		<link rel="stylesheet" href="/assets/stylesheets/photoqueue.css" />
</head>
<body>
@views.html.navBar(Some(NavBar.PhotoQueue), None)
<div id="content" class="container">
<div class="page-header">
		<button class="add-btn btn btn-success header-btn">Add to Map</button>
		<h1>Add Photos to Collections</h1>
</div>
<div class="well container">
<form action="/api/collections/new" method="post" id="selection_form">
	<ul>
	@for(image <- Image.all(userId=user.id).filter(_.pending)) {
		<li>
		<div class="gallery-container">
			<div class="thumbnail">
				<img src="@StorageBackend().lookup("thumbnails", image.path)">
				<input class="checkbox" type="checkbox" name=@image.id>
				<a href="/images/edit/@image.id" class="icon-info-sign icon-white edit"></a>
			</div>
		</div>
		</li>
	}
	</ul>
</div>
</div>
</body>
</html>

