@()

@import controllers.Api.collectionForm
@import helper.twitterBootstrap._
@import models._
@import views.nav._

<!DOCTYPE HTML>
<html lang="en">
<head>
		<link rel="stylesheet" href="assets/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="assets/stylesheets/nav.css" />
</head>
<body>
@views.html.navBar(Some(NavBar.PhotoQueue), None)
<div id="content">
@helper.form(action = routes.Api.createCollection) {

	<table class="table table-striped">
		<tr><td>ID</td><td>Filename</td><td>Latitude</td><td>Longitude</td><td>Select</td></tr>
	@for(image <- Image.all.filter(_.pending)) {
		<tr>
			<td>@image.id</td>
			<td>@image.path</td>
			<td>@image.lat</td>
			<td>@image.long</td>
			<td><input type="checkbox" name=@image.id class="pending-selection">
		</tr>
	}
	</table>

	<input type="submit" value="Add to collection" class="btn-primary">
}
</div>
</body>
</html>

