@(form: Form[controllers.Accounts.SignupFormData] = controllers.Accounts.createAccountForm)(implicit flash: Flash)
@import views.nav._
@import models._
@import controllers._

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/stylesheets/nav.css" />
    <link href="/assets/stylesheets/signup.css" rel="stylesheet">
</head>
<body>
@views.html.navBar(None, None)
	<div class="content">
		<div class="container">
			<div class="login-box">
				<div class="row">
					<div class="login-form">
						<h2>New Account</h2>
						@flash.get("message").map { message =>
							<h5 class="red">
								@message
							</h5>
						}
						<form action="/signup" method="post">
							<fieldset>
								<div class="clearfix">
									<input type="text" name="fname" placeholder="First Name" value="@form("fname").value">
								</div>
								<div class="clearfix">
									<input type="text" name="lname" placeholder="Last Name" value="@form("lname").value">
								</div>
								<div class="clearfix">
									<input type="email" name="email" placeholder="Email" value="@form("email").value">
								</div>
								<div class="clearfix">
									<input type="email" name="email2" placeholder="Confirm Email" value="@form("email2").value">
								</div>
								<div class="clearfix">
									<input type="password" name="password" placeholder="Password (min 8 characters)">
								</div>
								<div class="clearfix">
									<input type="password" name="password2" placeholder="Confirm Password">
								</div>
								<button class="btn btn-success" type="submit">Create</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
</body>
</html>
